button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 25px;
    height: 25px;
    font-weight: lighter;
    border-radius: 5px;
    color: #777;
}